# hK minimal rules
/*.zip
/*.tar.md5
/output/
/hK-out/
/hK-zip/
/hK-tools/
*.cmd
*.o
*.builtin
*.order
*.tmp
*.ver
*.d
*.dtb
.config
.missing-syscalls.d
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm64/boot/Image
arch/arm64/boot/Image.gz
arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso-offsets.h
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vmlinux.lds
arch/arm64/lib/lib.a
firmware/abov/a96t316_a5y17.fw
firmware/abov/a96t316_a5y17.fw.gen.S
firmware/abov/a96t316_a7y17.fw
firmware/abov/a96t316_a7y17.fw.gen.S
firmware/ssp_crashed.fw
firmware/ssp_crashed.fw.gen.S
firmware/ssp_stmf410_a2017.fw
firmware/ssp_stmf410_a2017.fw.gen.S
firmware/tsp_sec/mc44_a7x.bin
firmware/tsp_sec/mc44_a7x.bin.gen.S
firmware/tsp_zinitix/zt7538_a5y17.fw
firmware/tsp_zinitix/zt7538_a5y17.fw.gen.S
include/config/
include/generated/
kernel/bounds.s
kernel/time/hz.bc
kernel/time/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
net/wireless/regdb.c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
security/selinux/av_permissions.h
security/selinux/flask.h
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio.gz
vmlinux
.old_version
arch/arm64/boot/dtb.img
scripts/dtbtool_exynos/dtbtool
security/selinux_n/av_permissions.h
security/selinux_n/flask.h



