#Linux patch wastes
*.orig
*.rej

#Objects
*.o.*
*.o
*.order
*.*.cmd
*.tmp
.config
.config.old
.gitignore
.missing-syscalls.d
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map

#Dirty outputs
build.sh
script.sh
optikernel
arch/arm64/boot/Image.gz
arch/arm64/boot/dtb/
arch/arm64/boot/boot.img-kernel
arch/arm64/boot/dts/exynos7870-smdk7870.dtb
arch/arm64/boot/dts/exynos7870-universal7870.dtb
arch/arm64/boot/dts/exynos7870-universal7870_rev01.dtb
arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso-offsets.h
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vmlinux.lds
arch/arm64/lib/lib.a
crypto/ansi_cprng.ko
crypto/ansi_cprng.mod.c
firmware/melfas_tk/mhs2041B_j5y17.fw
firmware/melfas_tk/mhs2041B_j5y17.fw.gen.S
firmware/melfas_tk/mhs2041B_j5y17_new.fw
firmware/melfas_tk/mhs2041B_j5y17_new.fw.gen.S
firmware/melfas_tk/mhs2041B_j7y17.fw
firmware/melfas_tk/mhs2041B_j7y17.fw.gen.S
firmware/melfas_tk/mhs2041B_j7y17_ltn.fw
firmware/melfas_tk/mhs2041B_j7y17_ltn.fw.gen.S
firmware/melfas_tk/mhs2041B_j7y17_new.fw
firmware/melfas_tk/mhs2041B_j7y17_new.fw.gen.S
firmware/melfas_tk/mhs2041B_j7y17_open.fw
firmware/melfas_tk/mhs2041B_j7y17_open.fw.gen.S
firmware/melfas_tk/mhs2041_j5y17.fw
firmware/melfas_tk/mhs2041_j5y17.fw.gen.S
firmware/melfas_tk/mhs2041_j7y17.fw
firmware/melfas_tk/mhs2041_j7y17.fw.gen.S
net/wireless/regdb.c
firmware/coreriver/tc305k_j7pop.fw
firmware/coreriver/tc305k_j7pop.fw.gen.S
firmware/coreriver/tc350k_j7ve.fw
firmware/coreriver/tc350k_j7ve.fw.gen.S
firmware/coreriver/tc350k_j7x.fw
firmware/coreriver/tc350k_j7x.fw.gen.S
firmware/tsp_melfas/mms438_a3xpre.fw
firmware/tsp_melfas/mms438_a3xpre.fw.gen.S
firmware/tsp_melfas/mms438_a3xpre_init.fw
firmware/tsp_melfas/mms438_a3xpre_init.fw.gen.S
firmware/tsp_melfas/mms438_j7ve.fw
firmware/tsp_melfas/mms438_j7ve.fw.gen.S
firmware/tsp_melfas/mms438_j7x.fw
firmware/tsp_melfas/mms438_j7x.fw.gen.S
firmware/tsp_melfas/mms438_j7x_hd.fw
firmware/tsp_melfas/mms438_j7x_hd.fw.gen.S
firmware/tsp_melfas/mms438_j7y17.fw
firmware/tsp_melfas/mms438_j7y17.fw.gen.S
firmware/gnss_firmware.bin.gen.S
firmware/melfas_tk/mhs204g_on7xlte.fw
firmware/melfas_tk/mhs204g_on7xlte.fw.gen.S
firmware/tsp_synaptics/td4300_on7xelte.fw
firmware/tsp_synaptics/td4300_on7xelte.fw.gen.S
firmware/tsp_synaptics/td4300_on7xelte_recovery.fw
firmware/tsp_synaptics/td4300_on7xelte_recovery.fw.gen.S
include/config/
include/generated/
kernel/bounds.s
kernel/time/hz.bc
kernel/time/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
security/selinux_n/av_permissions.h
security/selinux_n/flask.h
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio.gz
vmlinux

*.builtin
!.gitignore
