CONFIG_HW_PERF_EVENTS=y

CONFIG_SLUB_DEBUG=y
CONFIG_SLABINFO=y
CONFIG_SLUB_DEBUG_ON=y

CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_RT_MUTEXES=y

CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_SCHEDSTATS=y
CONFIG_TIMER_STATS=y
CONFIG_SCHED_DEBUG=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_BLK_DEV_IO_TRACE=y

CONFIG_FTRACE=y
CONFIG_SEC_DEBUG_FTRACE_ON=y
CONFIG_SEC_DEBUG_FILE_LEAK=y
CONFIG_SEC_INITCALL_DEBUG=y

# GPIO DVS
CONFIG_SEC_GPIO_DVS=y

# PMIC DEBUG
CONFIG_SEC_DEBUG_PMIC=y

#
# Character devices
#
CONFIG_DEVMEM=y
